body {
  margin: 10px;
  padding: 10px;
}

button {
  margin-left: 10px;
  margin-bottom: 7px;
}

input {
  font-size: large;
  margin: 5px;
}

h1 {
  margin-bottom: 30px;
}

div {
  margin-bottom: 20px;
}

li {
  font-size: large;
  margin: 10px;
}
